*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px 
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    box-sizing: border-box;
    background-color: #EFF1F2;
}

.container {
    display: flex;
    justify-content: space-between;
}

.loader {
    margin: 5rem auto;
    text-align: center;
}

.loader img {
    height: 5.5rem;
    width: 5.5rem;
    transform-origin: 44% 50%;
}

.small-screen-warning {
	display: none;
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        display: none;
    }
    .small-screen-warning {
        display: block;
    }
}
  
@media (min-width: 120px) and (max-width: 480px) {
   .container {
        display: none;
    }
    .small-screen-warning {
        display: block;
    }
}
