.headlines {
    background-color: #C7D3D6;
    height: 100vh;
    width: 28vw;

    .rn {
        box-shadow: 0px 1px 5px rgb(160, 160, 160);
        z-index: 3;
        text-align: center;
    }

    h2 {
        padding: 4rem 0;
        font-size: 2rem;
        font-weight: normal;
    }

    .hd {
        height: 80%;
        overflow: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar { 
            width: 0 !important 
        }

        a {
            text-decoration: none;
            color: black;
        }
        .title:hover {
            text-decoration: underline;
        }
    }

    &__item {
        padding: 2rem;

        .title {
            font-weight: bold;
            color: rgb(0, 0, 88);
        }
    }
}