.navigation {
    background-color: #fff;
    height: 100vh;
    width: 8vw;

    .logo__box {
        background-color: #4A515F;
        text-align: center;

        p {
            padding: 40px 0;
            color: #fff;
            font-size: 2rem;
        }
    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80%;
        text-align: center;

        .icon {
            padding: 2rem;
            width: 100%;
            transition: all 0.5s;
            a {
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
            }

            img {
                height: 3rem;
            }
        }
        .icon:hover {
            background-color: #C7D3D6;
        }
        
    }

}