.news {
    overflow: hidden;
    .top {
        display: flex;
        justify-content: space-between;
        padding: 4rem;

        .search {
            display: flex;
        }

        .search__input {
            width: 100%;
            padding: 5px 24px;
            background-color: transparent;
            transition: transform 250ms ease-in-out;
            font-size: 14px;
            line-height: 18px;
            color: #575756;
            background-color: transparent;
            border-radius: 50px;
            border: 1px solid #575756;
            // transition: all 250ms ease-in-out;
            // backface-visibility: hidden;
            // transform-style: preserve-3d;
            outline: none;
        }
        .search__input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        input[type="submit"] {
            background-color: #fff;
            border: 1px solid grey;
            border-radius: 50px;
            padding: 0px 15px;  
            margin-left: 1rem;  
        }

    }

    .settings {
        img {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 3rem;
        }
    }

    .bottom {
        padding: 0 4rem;
        height: 80%;
        overflow: scroll;
        overflow-x: hidden;
        h1 {
            font-family: 'Lora', serif;
        }
        p {
            margin: 2rem 0;
        }

        .news-img-div {
            text-align: center;
        }

        img {
            width: 500px;
            height: auto;
        }

        .url-link {
            // text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #07a389;
            padding: 5px 15px;
            border-radius: 50px;
        }

        .placeholder-text {
            margin-top: 150px;
            font-size: 4rem;
            text-align: center;
            color: rgb(207, 207, 207);
            .attribution  {
                font-size: 2rem;
            }
        }
    }

    background-color: #fff;
    height: 100vh;
    width: 60vw;
}